#!/bin/bash

# -----------------------------------------------------------------------------
# General aliases
# -----------------------------------------------------------------------------
alias .='echo $PWD'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias c='clear'
alias l='ls -lah'

# -----------------------------------------------------------------------------
# Load additional aliases from ~/.aliases.d
# -----------------------------------------------------------------------------
for extra in ~/.aliases.d/*.sh; do
  source $extra
done

# -----------------------------------------------------------------------------
# Load any local aliases
# Primarily for short-lived or sensitive aliases
# -----------------------------------------------------------------------------
test -f ~/.aliases.local && source ~/.aliases.local
