#!/bin/bash

# -----------------------------------------------------------------------------
# General aliases
# -----------------------------------------------------------------------------
alias .='echo $PWD'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias c='clear'
alias did='history'
alias didi='history | fzf'

# -----------------------------------------------------------------------------
# GRC overrides for ls
# @see `brew install coreutils`
# -----------------------------------------------------------------------------
if $(gls &>/dev/null); then
  alias l='gls --almost-all --classify --color --format=verbose --group-directories-first --human-readable'
  alias ls='gls --almost-all --classify --color --group-directories-first'
else
  alias l='ls -lah'
fi

# -----------------------------------------------------------------------------
# Homebrew
# -----------------------------------------------------------------------------
alias bud='brew update'
alias bug='brew upgrade'

# -----------------------------------------------------------------------------
# Load additional aliases from ~/.aliases.d
# -----------------------------------------------------------------------------
for extra in ~/.aliases.d/*.sh; do
  source $extra
done

# -----------------------------------------------------------------------------
# Load any local aliases
# -----------------------------------------------------------------------------
test -f ~/.aliases.local && source ~/.aliases.local
